{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sistema Gestão de Cartões{% endblock %}</title>
    
    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    
    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        #sidebar {
            width: 250px; /* Ajuste a largura do sidebar */
        }
        #main-content {
            margin-left: 0; /* Para responsividade */
        }
        @media (min-width: 1024px) {
            #main-content {
                margin-left: 250px; /* Ajuste para corresponder à largura do sidebar */
            }
        }
        .sidebar-title {
            font-size: 20px; /* Ajuste do tamanho do texto */
        }
    </style>
    
    {% block extra_head %}{% endblock %}
</head>
<body class="bg-gray-100">

    <span class="absolute text-gray-800 text-4xl top-5 left-4 cursor-pointer lg:hidden" onclick="toggleSidebar()">
        <i class="bi bi-list"></i>
    </span>

    <div id="sidebar" class="fixed top-0 bottom-0 lg:left-0 p-2 overflow-y-auto bg-gray-900 -translate-x-full lg:translate-x-0 transition-transform duration-300 ease-in-out">
        <div class="text-gray-100 text-xl">
            <div class="p-2.5 mt-1 flex items-center justify-between">
                <i class="bi bi-app-indicator px-2 py-1 rounded-md bg-blue-600"></i>
                <h1 class="font-bold text-gray-200 sidebar-title ml-3 mt-6">Gerenciamento de Cartões</h1>
                {% comment %} <i class="bi bi-x cursor-pointer" onclick="toggleSidebar()"></i> {% endcomment %}
            </div>
            <div class="my-2 bg-gray-600 h-[1px]"></div>
        </div>

        <a href="{% url 'lista_cartoes' %}" class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
            <i class="bi bi-credit-card-2-front-fill"></i>
            <span class="text-[15px] ml-4 text-gray-200 font-bold">Cartões</span>
        </a>

        <a href="{% url 'adicionar_cartao' %}" class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
            <i class="bi bi-plus-circle-fill"></i>
            <span class="text-[15px] ml-4 text-gray-200 font-bold">Adicionar Cartão</span>
        </a>

        <a href="{% url 'adicionar_gasto' %}" class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
            <i class="bi bi-cash-stack"></i>
            <span class="text-[15px] ml-4 text-gray-200 font-bold">Adicionar Gasto</span>
        </a>

        <a href="{% url 'cadastro_categoria' %}" class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
            <i class="bi bi-list-ul"></i>
            <span class="text-[15px] ml-4 text-gray-200 font-bold">Categorias de Gastos</span>
        </a>

        <a href="{% url 'relatorio_gastos' %}" class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
            <i class="bi bi-bar-chart-fill"></i>
            <span class="text-[15px] ml-4 text-gray-200 font-bold">Relatório de Gastos</span>
        </a>
    </div>

    <div id="main-content" class="p-4 transition-margin duration-300 ease-in-out">
        {% block content %}{% endblock %}
    </div>

    <!-- jQuery, Popper.js, and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <!-- Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script>
        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('-translate-x-full');
        }
    </script>
</body>
</html>
