{% extends 'base.html' %}

{% block content %}
<div class="max-w-4xl mx-auto py-8 px-4">
    <div class="bg-white shadow-md rounded-lg px-8 pt-6 pb-8 mb-4">
        <div class="flex items-center justify-between mb-4">
            <h2 class="text-2xl font-bold text-blue-800">{{ cartao.nome }}</h2>
                <a href="{% url 'adicionar_gasto' %}" class="p-2 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 hover:text-white">
                    <i class="bi bi-cash-stack"></i>
                    <span class="text-[15px] ml-4 text-gray-500 font-bold  hover:text-white">Adicionar Gasto</span>
                </a>
                <a href="{% url 'editar_cartao' cartao.id %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Editar
                </a>
        </div>
        <div class="border-t border-gray-200 pt-4">
            <div class="p-4 bg-gray-100 border border-gray-300 rounded shadow-inner mb-4">
                <p class="mb-1 text-lg"><strong>Limite:</strong> R$ {{ cartao.limite | floatformat:2 }}</p>
                <p class="mb-1 text-lg"><strong>Vencimento:</strong> Dia {{ cartao.vencimento }} de cada mês</p>
                <p class="mb-1 text-lg"><strong>Melhor dia para compra:</strong> Dia {{ data_fechamento.day }}</p>
            </div>
        </div>
        <h3 class="text-xl font-bold text-gray-700 mt-6 mb-2">Gastos</h3>
        <div class="p-4 bg-gray-100 border border-gray-300 rounded shadow-inner mb-4">
            <ul class="list-disc">
                {% if gastos %}
                    {% for gasto in gastos %}
                    <li class="mb-2">
                        <div class="flex items-center justify-between">
                            <div>
                                <span>{{ gasto.descricao }}</span>
                                <div class="text-sm text-gray-600">
                                    Data: {{ gasto.data }} - Categoria: {{ gasto.categoria.nome }}
                                </div>
                            </div>
                            <div class="flex items-center">
                                <span class="font-semibold mr-2">R$ {{ gasto.valor | floatformat:2 }}</span>
                                <form action="{% url 'excluir_gasto' gasto.id %}" method="post" style="display: inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                {% else %}
                    <li class="text-gray-500">Nenhum gasto registrado para este período.</li>
                {% endif %}
            </ul>
        </div>
        {% if total_gastos %}
        <div class="mt-6 p-4 bg-gray-100 border border-gray-300 rounded shadow-inner">
            <p class="text-lg font-bold text-gray-700">Total de Gastos: R$ {{ total_gastos | floatformat:2 }}</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
