{% extends 'base.html' %}
{% load my_filters %}

{% block content %}
<div class="max-w-7xl mx-auto py-4">
    <h2 class="text-2xl font-bold mb-4 text-center">Cartões de Crédito</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for cartao in cartoes %}
        <div class="bg-white rounded-lg border border-gray-200 shadow-md p-4 flex flex-col justify-between">
            <div class="flex items-center space-x-4 mb-4">
                {% if cartao.imagem %}
                <img src="{{ cartao.imagem.url }}" alt="Imagem do {{ cartao.nome }}" class="w-16 h-auto rounded">
                {% else %}
                <img src="{{ MEDIA_URL }}imagens_cartoes/default_image.jpg" alt="Imagem padrão" class="w-16 h-auto rounded">
                {% endif %}
                <div>
                    <strong class="text-xl text-blue-500 font-semibold">{{ cartao.nome }}</strong><br>
                    <span class="text-sm font-semibold text-gray-800">Limite: R$ {{ cartao.limite }}</span><br>
                    <span class="text-sm font-semibold text-gray-800">Vencimento: {{ cartao.vencimento }}</span>
                </div>
            </div>
            <div class="flex justify-end space-x-2">
                <a href="{% url 'detalhes_cartao' cartao.id %}" class="text-green-500 hover:text-green-700" title="Detalhes">
                    <i class="bi bi-info-circle text-lg"></i>
                </a>
                <a href="{% url 'editar_cartao' cartao.id %}" class="text-blue-500 hover:text-blue-700" title="Editar">
                    <i class="bi bi-pencil text-lg"></i>
                </a>
                <a href="{% url 'excluir_cartao' cartao.id %}" class="text-red-500 hover:text-red-700" title="Excluir">
                    <i class="bi bi-trash text-lg"></i>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
