{% extends 'base.html' %}

{% block content %}
<div class="max-w-6xl mx-auto py-8 px-4">
    <h2 class="text-2xl font-bold mb-6">Relatório de Gastos por Cartão - Mês: {{ nome_mes_selecionado }}</h2>
    
    <!-- Seleção de Mês -->
    <div class="mb-4 flex flex-wrap">
        {% for mes, nome_mes in meses %}
        <a href="?mes={{ mes }}" class="mr-2 mb-2 py-1 px-2.5 {% if mes == mes_selecionado %}bg-red-500{% else %}bg-blue-500{% endif %} text-white rounded">{{ nome_mes }}</a>
        {% endfor %}
    </div>
    
    <!-- Tabela de Gastos -->
    <div class="overflow-x-auto">
        <table class="min-w-full table-auto bg-white shadow-md rounded px-4 pt-6 pb-8 mb-4">
            <thead class="bg-gray-200">
                <tr>
                    <th class="px-8 py-2 text-left">Cartão</th>
                    <th class="px-4 py-2 text-left">Total de Gastos</th>
                </tr>
            </thead>
            <tbody class="text-gray-700">
                {% for item in relatorio %}
                <tr>
                    <td class="border px-4 py-2 flex items-center">
                        {% if item.cartao.imagem %}
                        <img src="{{ item.cartao.imagem.url }}" alt="Imagem do {{ item.cartao.nome }}" class="w-10 h-auto mr-4 rounded">
                        {% else %}
                        <img src="{{ MEDIA_URL }}imagens_cartoes/default_image.jpg" alt="Imagem padrão" class="w-10 h-auto mr-4 rounded">
                        {% endif %}
                        <a href="#" class="cartao-link" data-cartao-id="{{ item.cartao.id }}" data-total-gastos="{{ item.total_gastos | floatformat:2 }}">{{ item.cartao.nome }}</a>
                    </td>
                    <td class="border px-4 py-2">{{ item.total_gastos | floatformat:2 }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2" class="border px-4 py-2 text-center">Nenhum gasto registrado.</td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="border px-4 py-2 font-bold text-right">Total Geral:</td>
                    <td class="border px-4 py-2 font-bold">{{ total_gastos_geral | floatformat:2 }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div id="gastosModal" class="fixed z-50 inset-0 overflow-y-auto hidden">
    <div class="flex items-center justify-center min-h-screen">
        <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-lg mx-auto relative">
            <button id="closeModal" class="absolute top-2 right-2 text-gray-500 hover:text-gray-800">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                </svg>
            </button>
            <div class="flex items-center mb-4">
                <img id="modalCartaoImagem" src="" alt="Imagem do Cartão" class="w-10 h-auto mr-2 rounded hidden">
                <h2 id="modalCartaoNome" class="text-xl font-bold">Gastos do Cartão</h2>
                <span id="modalTotalGastos" class="ml-2 py-1 px-3 bg-green-500 text-white rounded-lg"></span>
            </div>
            <table class="min-w-full table-auto">
                <thead class="bg-gray-200">
                    <tr>
                        <th class="px-4 py-2 text-right" style="width: 52%;">Descrição</th>
                        <th class="px-4 py-2 text-right" style="width: 30%;">Valor</th>
                        <th class="px-4 py-2 text-right" style="width: 18%;">Data</th>
                    </tr>
                </thead>
                <tbody id="gastosList" class="text-gray-700 hover:to-blue-400">
                    <!-- Os gastos serão carregados aqui via JavaScript -->
                </tbody>
            </table>
            <button id="closeModalButton" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded">Fechar</button>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const modal = document.getElementById('gastosModal');
        const gastosList = document.getElementById('gastosList');
        const closeModalButton = document.getElementById('closeModal');
        const closeModalButton2 = document.getElementById('closeModalButton');
        const modalCartaoImagem = document.getElementById('modalCartaoImagem');
        const modalCartaoNome = document.getElementById('modalCartaoNome');
        const modalTotalGastos = document.getElementById('modalTotalGastos');

        document.querySelectorAll('.cartao-link').forEach(function(link) {
            link.addEventListener('click', function(event) {
                event.preventDefault();

                const cartaoId = this.getAttribute('data-cartao-id');
                const cartaoNome = this.textContent.trim();
                const cartaoImagem = this.previousElementSibling.getAttribute('src');
                const totalGastos = parseFloat(this.getAttribute('data-total-gastos')).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
                const mesSelecionado = '{{ mes_selecionado }}';

                // Configuração do modal
                modalCartaoNome.textContent = `Gastos do Cartão: ${cartaoNome}`;
                modalTotalGastos.textContent = `Total: ${totalGastos}`;
                if (cartaoImagem) {
                    modalCartaoImagem.src = cartaoImagem;
                    modalCartaoImagem.classList.remove('hidden');
                } else {
                    modalCartaoImagem.classList.add('hidden');
                }

                // Limpa a lista antes de carregar novos dados
                gastosList.innerHTML = '<tr><td colspan="4" class="text-center">Carregando...</td></tr>';

                // Requisição para buscar os gastos
                fetch(`/gestao_cartoes/cartao/${cartaoId}/gastos/?mes=${mesSelecionado}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Erro ao carregar os dados do servidor.');
                        }
                        return response.json();
                    })
                    .then(data => {
                        gastosList.innerHTML = ''; // Limpa lista de gastos
                        if (data.gastos && data.gastos.length > 0) {
                            data.gastos.forEach(gasto => {
                                const row = document.createElement('tr');
                                row.classList.add('hover:bg-gray-100');
                                const valorGasto = parseFloat(gasto.valor).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
                    
                                // Certifique-se de que gasto.id está sendo corretamente inserido
                                row.innerHTML = `
                                    <td class="border px-4 py-2">${gasto.descricao}</td>
                                    <td class="border px-4 py-2">${valorGasto}</td>
                                    <td class="border px-4 py-2">${new Date(gasto.data).toLocaleDateString()}</td>
                                    <td class="border px-4 py-2 text-center">
                                        <form method="POST" action="/gestao_cartoes/gasto/excluir/${gasto.id}/" onsubmit="return handleDelete(this);">
                                            <input type="hidden" name="csrfmiddlewaretoken" value="${document.querySelector('[name=csrfmiddlewaretoken]')?.value || ''}">
                                            <button type="submit" class="text-red-500 hover:text-red-700">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </form>
                                    </td>
                                `;
                                gastosList.appendChild(row);
                            });
                        } else {
                            const emptyRow = document.createElement('tr');
                            emptyRow.innerHTML = `
                                <td class="border px-4 py-2 text-center" colspan="4">Nenhum gasto encontrado.</td>
                            `;
                            gastosList.appendChild(emptyRow);
                        }
                        modal.classList.remove('hidden'); // Exibe o modal
                    })
                    
                    
                    .catch(error => {
                        console.error('Erro ao carregar os gastos:', error);
                        gastosList.innerHTML = `
                            <tr>
                                <td class="border px-4 py-2 text-center text-red-500" colspan="4">Erro ao carregar os gastos. Tente novamente.</td>
                            </tr>
                        `;
                        modal.classList.remove('hidden');
                    });
            });
        });

        // Fecha o modal ao clicar nos botões de fechar
        [closeModalButton, closeModalButton2].forEach(button => {
            button.addEventListener('click', function() {
                modal.classList.add('hidden');
            });
        });

        // Manipulação para fechar o modal após exclusão
        window.handleDelete = function (form) {
            fetch(form.action, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                    'Content-Type': 'application/json',
                },
            })
            .then(response => {
                if (response.ok) {
                    return response.json(); // Assumindo que você retorna a lista de gastos atualizada
                } else {
                    throw new Error('Erro ao excluir o gasto.');
                }
            })
            .then(data => {
                // Atualiza o modal com a nova lista de gastos
                updateModalGastos(data.novos_gastos, data.total_atualizado);
                alert('Gasto excluído com sucesso!');
            })
            .catch(error => {
                console.error(error);
                alert('Erro ao excluir o gasto. Tente novamente.');
            });
        
            return false; // Previne o envio padrão do formulário
        };
        
        
        // Função auxiliar para atualizar a lista de gastos e total no modal
        function updateModalGastos(gastos, totalAtualizado) {
            gastosList.innerHTML = ''; // Limpa lista de gastos
        
            if (gastos.length > 0) {
                gastos.forEach(gasto => {
                    const row = document.createElement('tr');
                    row.classList.add('hover:bg-gray-100');
                    const valorGasto = parseFloat(gasto.valor).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
        
                    row.innerHTML = `
                        <td class="border px-4 py-2">${gasto.descricao}</td>
                        <td class="border px-4 py-2">${valorGasto}</td>
                        <td class="border px-4 py-2">${new Date(gasto.data).toLocaleDateString()}</td>
                        <td class="border px-4 py-2 text-center">
                           <!-- Formulário de exclusão com CSRF -->
                        <form method="POST" action="/gestao_cartoes/gasto/excluir/${gasto.id}/" onsubmit="return handleDelete(this);">
                            <input type="hidden" name="csrfmiddlewaretoken" value="${document.querySelector('[name=csrfmiddlewaretoken]')?.value || ''}">
                            <button type="submit" class="text-red-500 hover:text-red-700">
                                <i class="bi bi-trash"></i>
                            </button>
                        </form>

                        </td>
                    `;
                    gastosList.appendChild(row);
                });
            } else {
                const emptyRow = document.createElement('tr');
                emptyRow.innerHTML = `
                    <td class="border px-4 py-2 text-center" colspan="4">Nenhum gasto encontrado.</td>
                `;
                gastosList.appendChild(emptyRow);
            }
        
            // Atualize o total de gastos exibido no modal
            modalTotalGastos.textContent = `Total: ${parseFloat(totalAtualizado).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}`;
        }
        

        // Formatar valores do relatório principal
        document.querySelectorAll('.cartao-link').forEach(function(link) {
            const totalGastosElement = link.parentElement.nextElementSibling;
            const totalGastosValue = parseFloat(totalGastosElement.textContent);
            totalGastosElement.textContent = totalGastosValue.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
        });

        // Formatar valor total geral
        const totalGeralElement = document.querySelector('td.font-bold:last-of-type');
        if (totalGeralElement) {
            const totalGeralValue = parseFloat(totalGeralElement.textContent);
            totalGeralElement.textContent = totalGeralValue.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
        }
    });
</script>

{% endblock %}
