{% extends 'base.html' %}

{% block content %}
<div class="max-w-6xl mx-auto py-8 px-4">
    <h2 class="text-2xl font-bold mb-6">Relatório de Gastos por Cartão - Mês: {{ nome_mes_selecionado }}</h2>
    
    <!-- Seleção de Mês -->
    <div class="mb-4 flex flex-wrap">
        {% for mes, nome_mes in meses %}
        <a href="?mes={{ mes }}" class="mr-2 mb-2 py-1 px-2.5 {% if mes == mes_selecionado %}bg-red-500{% else %}bg-blue-500{% endif %} text-white rounded">{{ nome_mes }}</a>
        {% endfor %}
    </div>
    
    <!-- Tabela de Gastos -->
    <div class="overflow-x-auto">
        <table class="min-w-full table-auto bg-white shadow-md rounded px-4 pt-6 pb-8 mb-4">
            <thead class="bg-gray-200">
                <tr>
                    <th class="px-8 py-2 text-left">Cartão</th>
                    <th class="px-4 py-2 text-left">Total de Gastos</th>
                </tr>
            </thead>
            <tbody class="text-gray-700">
                {% for item in relatorio %}
                <tr>
                    <td class="border px-4 py-2 flex items-center">
                        {% if item.cartao.imagem %}
                        <img src="{{ item.cartao.imagem.url }}" alt="Imagem do {{ item.cartao.nome }}" class="w-10 h-auto mr-4 rounded">
                        {% else %}
                        <img src="{{ MEDIA_URL }}imagens_cartoes/default_image.jpg" alt="Imagem padrão" class="w-10 h-auto mr-4 rounded">
                        {% endif %}
                        <a href="#" class="cartao-link" data-cartao-id="{{ item.cartao.id }}" data-total-gastos="{{ item.total_gastos | floatformat:2 }}">{{ item.cartao.nome }}</a>
                    </td>
                    <td class="border px-4 py-2">{{ item.total_gastos | floatformat:2 }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2" class="border px-4 py-2 text-center">Nenhum gasto registrado.</td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="border px-4 py-2 font-bold text-right">Total Geral:</td>
                    <td class="border px-4 py-2 font-bold">{{ total_gastos_geral | floatformat:2 }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div id="gastosModal" class="fixed z-50 inset-0 overflow-y-auto hidden">
    <div class="flex items-center justify-center min-h-screen">
        <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-lg mx-auto relative">
            <button id="closeModal" class="absolute top-2 right-2 text-gray-500 hover:text-gray-800">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                </svg>
            </button>
            <div class="flex items-center mb-4">
                <img id="modalCartaoImagem" src="" alt="Imagem do Cartão" class="w-10 h-auto mr-2 rounded hidden">
                <h2 id="modalCartaoNome" class="text-xl font-bold">Cartão</h2>
                <span id="modalTotalGastos" class="ml-6 py-1 px-3 bg-blue-500 text-white rounded-lg"></span>
            </div>
            <table class="min-w-full table-auto">
                <thead class="bg-gray-200">
                    <tr>
                        <th class="px-4 py-2 text-right" style="width: 52%;">Descrição</th>
                        <th class="px-4 py-2 text-right" style="width: 30%;">Valor</th>
                        <th class="px-4 py-2 text-right" style="width: 18%;">Data</th>
                    </tr>
                </thead>
                <tbody id="gastosList" class="text-gray-700 hover:to-blue-400">
                    <!-- Os gastos serão carregados aqui via JavaScript -->
                </tbody>
            </table>
            <button id="closeModalButton" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded">Fechar</button>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const modal = document.getElementById('gastosModal');
        const gastosList = document.getElementById('gastosList');
        const closeModalButton = document.getElementById('closeModal');
        const closeModalButton2 = document.getElementById('closeModalButton');
        const modalCartaoImagem = document.getElementById('modalCartaoImagem');
        const modalCartaoNome = document.getElementById('modalCartaoNome');
        const modalTotalGastos = document.getElementById('modalTotalGastos');

        document.querySelectorAll('.cartao-link').forEach(function(link) {
            link.addEventListener('click', function(event) {
                event.preventDefault();
                const cartaoId = this.getAttribute('data-cartao-id');
                const cartaoNome = this.textContent;
                const cartaoImagem = this.previousElementSibling.getAttribute('src');
                const totalGastos = parseFloat(this.getAttribute('data-total-gastos')).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
                const mesSelecionado = '{{ mes_selecionado }}';

                modalCartaoNome.textContent = `Cartão ${cartaoNome}`;
                modalTotalGastos.textContent = `Total ${totalGastos}`;
                if (cartaoImagem) {
                    modalCartaoImagem.src = cartaoImagem;
                    modalCartaoImagem.classList.remove('hidden');
                } else {
                    modalCartaoImagem.classList.add('hidden');
                }

                fetch(`/gestao_cartoes/cartao/${cartaoId}/gastos/?mes=${mesSelecionado}`)
                    .then(response => response.json())
                    .then(data => {
                        gastosList.innerHTML = '';
                        if (data.gastos && data.gastos.length > 0) {
                            data.gastos.forEach(gasto => {
                                const row = document.createElement('tr');
                                row.classList.add('hover:bg-gray-100');  // Classe de hover adicionada aqui
                                const valorGasto = parseFloat(gasto.valor).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
                                row.innerHTML = `
                                    <td class="border px-4 py-2">${gasto.descricao}</td>
                                    <td class="border px-4 py-2">${valorGasto}</td>
                                    <td class="border px-4 py-2">${new Date(gasto.data).toLocaleDateString()}</td>
                                `;
                                gastosList.appendChild(row);
                            });
                        } else {
                            const emptyRow = document.createElement('tr');
                            emptyRow.innerHTML = `
                                <td class="border px-4 py-2 text-center" colspan="3">Nenhum gasto encontrado.</td>
                            `;
                            gastosList.appendChild(emptyRow);
                        }
                        modal.classList.remove('hidden');
                    })
                    .catch(error => {
                        const errorRow = document.createElement('tr');
                        errorRow.innerHTML = `
                            <td class="border px-4 py-2 text-center text-red-500" colspan="3">Erro ao carregar os gastos. Tente novamente.</td>
                        `;
                        gastosList.appendChild(errorRow);
                        modal.classList.remove('hidden');
                    });
            });
        });

        closeModalButton.addEventListener('click', function() {
            modal.classList.add('hidden');
        });

        closeModalButton2.addEventListener('click', function() {
            modal.classList.add('hidden');
        });
    });
</script>
{% endblock %}
